<h1>notebook</h1>
<p>This app allows you to generate a blank notebook using <a href="http://www.bookleteer.com/">Bookleteer</a>. You can select a few options and set a title for the notebook. On submission this is passed onto bookleteer via their API. The resultant PDF can then be downloaded.</p>
<p>Instructions on making the booklets are <a href="http://vimeo.com/channels/bookleteer">here</a>.</p> 
<h2>Options</h2>
<form action="/form" method="post">
<p>Title: <input type="text" name="title" /><br>
<p>Type: <select name="format">
	<option value="book">Book</option>
	<option value="classic">Classic</option>
</select>
<p>Page Background: <select name="page_background">
	<option value="plain">plain</option>
	<option value="grid">grid</option>
</select>
<p>No of pages <select name="pages">
<option value="6">6</option>
<option value="10">10</option>
<option value="14">14</option>
<option value="18">18</option>
<option value="22">22</option>
<option value="26">26</option>
<option value="30">30</option>
<option value="34">34</option>
<option value="38">38</option>
</select>
<p><input type="submit">

</form>
