<form action="/form" method="post">
<p>Title: <input type="text" name="title" /><br>
No of pages <select name="pages">
<option value="6">6</option>
<option value="10">10</option>
<option value="14">14</option>
<option value="18">18</option>
<option value="22">22</option>
<option value="26">26</option>
<option value="30">30</option>
<option value="34">34</option>
<option value="38">38</option>
<input type="submit">
</select>
</form>
